<app-header class="bg-header"></app-header>

<section class="seat-selection">
    <div class="ticket-info">
        <div class="info">
            <p class="heading">Event</p>
            <p>Event name</p>
        </div>
        <div class="info">
            <p class="heading">No. of tickets</p>
            <p>2</p>
        </div>
        <div class="info">
            <p class="heading">Date</p>
            <p>22/8/2020</p>
        </div>
        <div class="info">
            <p class="heading">Seat</p>
            <p>A1, A2</p>
        </div>
        <div class="info">
            <p class="heading">Total</p>
            <p>$ 240</p>
        </div>
    </div>

    <div class="send-ticket">
        <div class="select-option">
            <input type="checkbox">
            <span></span>
            <p>Send Ticket via Whatsapp</p>
        </div>
        <div class="select-option">
            <input type="checkbox">
            <span></span>
            <p>Send Ticket via SMS</p>
        </div>
        <div class="select-option">
            <input type="checkbox">
            <span></span>
            <p>I have read and accept the Term and Condition</p>
        </div>
    </div>

    <div routerLink="/login" data-id="6dbe381" data-element_type="column" class="elementor-element elementor-element-6dbe381 elementor-column elementor-top-column">
        <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
                <div data-id="7332fd3" data-element_type="widget" data-widget_type="button.default" class="elementor-element elementor-element-7332fd3 elementor-align-right elementor-mobile-align-justify elementor-button-primary_gradient elementor-widget elementor-widget-button">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper opal-button-contact7">
                            <a href="javascript:void(0)" role="button" data-effect="mfp-zoom-in" class="elementor-button-link elementor-button elementor-size-md">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Book Now</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
