<app-header class="bg-header"></app-header>

<section class="seat-selection">
    <div class="theater">
        <div class="seat-wrapper">
            <div class="left">
                <span class="seat">A1</span>
                <span class="seat">A2</span>
                <span class="seat">A3</span>
                <span class="seat booked">A4</span>
                <span class="seat booked">A5</span>
                <span class="seat">A6</span>
                <span class="seat">A7</span>
                <span class="seat">A8</span>
                <span class="seat selected">A9</span>
                <span class="seat selected">A10</span>
                <span class="seat">A11</span>
                <span class="seat">A12</span>
                <span class="seat">A13</span>
                <span class="seat booked">B1</span>
                <span class="seat">B2</span>
                <span class="seat">B3</span>
                <span class="seat">B4</span>
                <span class="seat">B5</span>
                <span class="seat">B6</span>
                <span class="seat">B7</span>
                <span class="seat">B8</span>
                <span class="seat">B9</span>
                <span class="seat booked">B10</span>
                <span class="seat">B11</span>
                <span class="seat">B12</span>
                <span class="seat">B13</span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
            </div>
            <div class="right">
                <span class="seat">A14</span>
                <span class="seat">A15</span>
                <span class="seat">A16</span>
                <span class="seat">A17</span>
                <span class="seat">A18</span>
                <span class="seat">A19</span>
                <span class="seat">A20</span>
                <span class="seat">A21</span>
                <span class="seat">A22</span>
                <span class="seat booked">A23</span>
                <span class="seat booked">A24</span>
                <span class="seat booked">A25</span>
                <span class="seat">A26</span>
                <span class="seat">B14</span>
                <span class="seat">B15</span>
                <span class="seat">B16</span>
                <span class="seat">B17</span>
                <span class="seat">B18</span>
                <span class="seat">B19</span>
                <span class="seat">B20</span>
                <span class="seat">B21</span>
                <span class="seat booked">B22</span>
                <span class="seat booked">B23</span>
                <span class="seat booked">B24</span>
                <span class="seat">B25</span>
                <span class="seat">B26</span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat"></span>
                <span class="seat booked"></span>
                <span class="seat"></span>
                <span class="seat"></span>
            </div>
        </div>
    </div>
    <div class="seat-info">
        <div class="info">
            <span class="seat"></span>
            <span class="">Available</span>
        </div>
        <div class="info">
            <span class="seat booked"></span>
            <span class="">Unavailable</span>
        </div>
        <div class="info">
            <span class="seat selected"></span>
            <span class="">Selected</span>
        </div>
    </div>

    <div routerLink="/checkout" data-id="6dbe381" data-element_type="column" class="elementor-element elementor-element-6dbe381 elementor-column elementor-top-column">
        <div class="elementor-column-wrap elementor-element-populated">
            <div class="elementor-widget-wrap">
                <div data-id="7332fd3" data-element_type="widget" data-widget_type="button.default" class="elementor-element elementor-element-7332fd3 elementor-align-right elementor-mobile-align-justify elementor-button-primary_gradient elementor-widget elementor-widget-button">
                    <div class="elementor-widget-container">
                        <div class="elementor-button-wrapper opal-button-contact7">
                            <a href="javascript:void(0)" role="button" data-effect="mfp-zoom-in" class="elementor-button-link elementor-button elementor-size-md">
                                <span class="elementor-button-content-wrapper">
                                    <span class="elementor-button-text">Checkout</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
