.login {
    max-width: 600px;
    margin: 50px auto;
    input {
        margin-bottom: 20px;
    }
    .forgot {
        text-align: right;
        display: block;
        max-width: 300px;
        margin-right: 0;
        margin-left: auto;
    }
    .bottom-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        .elementor-element {
            margin: 10px;
        }
    }
}