<app-header class="bg-header"></app-header>

<section class="event-detail-wrapper">
    <div class="left">
        <div>
            <img src="../../assets/images/event.jpg">
        </div>
        <div>
            <p class="heading mb-5">Price</p>
            <p class="m-0">$ 120 - Adults</p>
            <p>$ 80 - Children</p>
        </div>
        <div>
            <p class="heading mb-5">Location</p>
            <p class="m-0">New York</p>
            <p>France </p>
        </div>
    </div>
    <div class="right">
        <div>
            <p class="heading">Event Name</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
        </div>
        <div routerLink="/seat-selection" data-id="6dbe381" data-element_type="column" class="elementor-element elementor-element-6dbe381 elementor-column elementor-col-33 elementor-top-column">
            <div class="elementor-column-wrap elementor-element-populated">
                <div class="elementor-widget-wrap">
                    <div data-id="7332fd3" data-element_type="widget" data-widget_type="button.default" class="elementor-element elementor-element-7332fd3 elementor-align-right elementor-mobile-align-justify elementor-button-primary_gradient elementor-widget elementor-widget-button">
                        <div class="elementor-widget-container">
                            <div class="elementor-button-wrapper opal-button-contact7">
                                <a href="javascript:void(0)" role="button" data-effect="mfp-zoom-in" class="elementor-button-link elementor-button elementor-size-md">
                                    <span class="elementor-button-content-wrapper">
                                        <span class="elementor-button-text">book tickets</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>